@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Tektur&display=swap');

@media (max-width: 400px) {
  #tabs{
    gap: 45px;
  }
  .tile{
    width: 30;
    margin: 0 20px;
  }
  .desc{
    font-size: 13px;
    text-align: justify;
  }
}
@media (min-width: 550px){
  #tabs{
    gap: 150px;
  }
}

body{
  margin: 20px 0;
  padding: 0;
  font-family: 'Josefin Sans';
}
/* h3, p, ul{
  margin: 0;
  padding: 0;
} */

#logo{
  width: 300px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-drag: none;
}

nav {
  /* width: auto; */
  background-color: #bcbcbc4c;
  backdrop-filter: blur(10px);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

#tabs{
  display: flex;
  justify-content: center;
  /* gap: 150px; */
  align-items: center;
  list-style: none;
}

.nav-item a{
  padding: 10px;
  transition: 500ms;
  border-radius: 10px;
}

.nav-item a:link {
  text-decoration: none;
  color: #b517ff;
}
.nav-item a:visited {
  color: #b517ff;
}
.nav-item a:hover {
  background-color: #ffffff;
}
.nav-item a:active {
  text-decoration: none;
}

#about-link a:link {
  background-color: #b517ff;
  color: #ffffff;
}
#about-link a:visited {
  color: #ffffff;
}
#about-link a:hover {
  background-color: #b517ff;
}

#about {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  padding: 30px;
  margin-bottom: 150px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  backdrop-filter: blur(5px);
  /* background-color: ; */
  user-select: none;
}
#copyright{
  font-size: 12px;
}
.footer-content {
  display: flex;
  gap: 10px;
  /* background-color: #86bcff; */
  /* justify-content: space-evenly; */
  /* flex-direction: column; */
  padding: 10px;
}
.footer-content p, ul{
  margin: 0;
  padding: 0;
}
.footer-content ul{
  list-style: none;
  display: flex;
  gap: 5px;
}
.footer-content a:link{
  text-decoration: none;
  color: black;
}
.footer-content a:visited{
  color: black;
}
.footer-content a:hover{
  color: black;
}

.footer-content img{
  width: 70px;
  padding-right: 10px;
  border-right: 2px solid black;
  -webkit-user-drag: none;
  /* height: 70px; */
}

.footer-right{
  /* background-color: #b517ff; */
  padding: 10px 0;
}
.footer-right p{
  margin-bottom: 10px;
}